ConsoleApplication/Service References/ServiceReference1/Notification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:38570/Notification.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tpo.Notification" />
  <xs:element name="GetGateWayProviders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGateWayProvidersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tpo.Notification" minOccurs="0" name="GetGateWayProvidersResult" nillable="true" type="q1:ArrayOfGateWayProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tpo.Notification" minOccurs="0" name="sms" nillable="true" type="q2:SMSMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tpo.Notification" minOccurs="0" name="SendAlertResult" nillable="true" type="q3:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>