ConsoleApplication/Service References/ServiceReference1/TPONotification.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TPONotification" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:38570/Notification.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:38570/Notification.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:38570/Notification.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tpo.Notification" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITPONotification_GetGateWayProviders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGateWayProviders" />
  </wsdl:message>
  <wsdl:message name="ITPONotification_GetGateWayProviders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGateWayProvidersResponse" />
  </wsdl:message>
  <wsdl:message name="ITPONotification_SendAlert_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAlert" />
  </wsdl:message>
  <wsdl:message name="ITPONotification_SendAlert_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAlertResponse" />
  </wsdl:message>
  <wsdl:portType name="ITPONotification">
    <wsdl:operation name="GetGateWayProviders">
      <wsdl:input wsaw:Action="http://tempuri.org/ITPONotification/GetGateWayProviders" message="tns:ITPONotification_GetGateWayProviders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITPONotification/GetGateWayProvidersResponse" message="tns:ITPONotification_GetGateWayProviders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAlert">
      <wsdl:input wsaw:Action="http://tempuri.org/ITPONotification/SendAlert" message="tns:ITPONotification_SendAlert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITPONotification/SendAlertResponse" message="tns:ITPONotification_SendAlert_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="TPONotification" />
</wsdl:definitions>